<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271444076835-kahkfe59n96i3gaulklk779mepgv0tak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271444076835-kahkfe59n96i3gaulklk779mepgv0tak</string>
	<key>API_KEY</key>
	<string>AIzaSyBiVE6WNujaJtJI7vmt8LUAYbyS_3DKL6o</string>
	<key>GCM_SENDER_ID</key>
	<string>271444076835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ripon.Firebase-Tinder</string>
	<key>PROJECT_ID</key>
	<string>fir-tinder-d0579</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tinder-d0579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271444076835:ios:9726f42e8b66fedd26c496</string>
</dict>
</plist>